<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="Sender" required> <br>
        <input type="text" name="to" placeholder="Receiver" required> <br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Enter your message here"></textarea> <br>
        <input type="submit">
    </form>
</body>
</html>